/***** SIZES *****/
/*Ai Fonts*/
/*Ai Colors*/
/*TEXT SIZES*/
/*Font Weight*/
a:hover {
  text-decoration: none; }

/*FONTS */
body {
  font-size: 100%; }

h1, h2, h3, h4, h5, h6, p, .navbar, header.masthead {
  font-family: "Roboto", sans-serif; }

.bold-yellow-text {
  font-size: 1.2em;
  letter-spacing: .9px;
  color: #f2ae09;
  font-weight: bold; }

/*Color*/
.yellow {
  color: #f2ae09; }

/*Text Sizes*/
.xs-text {
  font-size: 54%;
  font-weight: 400; }

.sm-text {
  font-size: 72%; }

.small-lg-text {
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: -1.3px; }

.x-small-lg-text {
  font-size: 1.1em;
  font-weight: 900; }

.tiny-ft {
  font-size: 0.8em; }

.hero-lg {
  font-size: 4rem; }

.hero-md {
  font-size: 2.5rem; }

.hero-sm {
  font-size: 1.9rem; }

/*Font Weight*/
.bold {
  font-weight: 700; }

/*Extra*/
.underline {
  text-decoration: underline; }

/***** NAVBAR *****/
.navbar {
  color: #052a3d; }
  .navbar a {
    color: #052a3d; }
    .navbar a:hover {
      color: #00afef; }
  .navbar .row {
    width: 100%; }
  .navbar .phone-container {
    text-align: center;
    margin-bottom: 8px; }
    .navbar .phone-container p, .navbar .phone-container a {
      font-size: 1.2em;
      padding: 0px;
      margin: 0px; }
  .navbar .award-container img {
    width: 47%;
    display: inline-block;
    margin-bottom: 8px; }

/***** HERO SECTIONS *****/
header.masthead {
  background: url("../img/family-hero.png") no-repeat;
  background-size: 1112px;
  min-height: 772px;
  padding-top: 0px;
  padding-bottom: 0px; }
  header.masthead .container {
    height: 772px; }
  header.masthead .row {
    height: 100%; }
  header.masthead .hero-text-block {
    font-weight: 900;
    margin-bottom: 32px;
    color: #052a3d; }
    header.masthead .hero-text-block .hero-lg {
      margin-bottom: -22px; }
    header.masthead .hero-text-block .hero-md {
      margin-bottom: -4px; }
    header.masthead .hero-text-block h2 {
      font-size: 29px; }
    header.masthead .hero-text-block p {
      margin-bottom: -12px; }
  header.masthead .help-container {
    background: -webkit-linear-gradient(top, #0b557a, rgba(11, 85, 122, 0.4));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #0b557a, rgba(11, 85, 122, 0.4));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #0b557a, rgba(11, 85, 122, 0.4));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #0b557a, rgba(11, 85, 122, 0.4));
    /* Standard syntax (must be last)*/
    height: 354px; }
    header.masthead .help-container .bold-yellow-text {
      padding: 8px;
      margin-bottom: 0px; }
    header.masthead .help-container .help-container-bottom {
      font-size: 1.15em; }
    header.masthead .help-container p {
      margin-left: 21px;
      margin-top: 16px;
      margin-bottom: 0px;
      font-size: 1.3em;
      font-weight: 700; }
  header.masthead .help-ticker {
    background-color: #00afef;
    padding: 10px;
    color: #052a3d; }
    header.masthead .help-ticker p {
      font-size: .9em;
      margin: 0px; }
  header.masthead .form-container {
    background-color: #052a3d;
    text-align: center;
    padding: 20px 26px; }
    header.masthead .form-container h2 {
      font-size: 1.8rem; }
    header.masthead .form-container .form-control {
      padding: .145rem .75rem;
      border-radius: 0rem; }
      header.masthead .form-container .form-control #state {
        border-radius: .145px; }
    header.masthead .form-container .form-check-label {
      display: block;
      padding-left: 15px;
      text-indent: -15px;
      text-align: left;
      color: #f2ae09; }
    header.masthead .form-container .form-check-input {
      width: 13px;
      height: 13px;
      padding: 0;
      margin: 0;
      vertical-align: bottom;
      position: relative;
      top: -1px;
      overflow: hidden; }
    header.masthead .form-container select {
      margin-bottom: .8rem; }
    header.masthead .form-container button {
      background-color: #f2ae09;
      border-color: #f2ae09;
      padding: .3rem 2.5rem;
      color: #052a3d;
      font-weight: 900;
      margin-bottom: .8rem;
      font-size: 1.8rem; }
      header.masthead .form-container button:hover {
        cursor: pointer;
        background-color: #ffcf5c; }

/*# sourceMappingURL=main.css.map */
